@font-face {
    font-family: logo;
    src: url(Capture_it.ttf);
}

.nav-images {
	opacity: 0.7
}

.nav-images:hover {
	opacity: 1
}

header h3 {
	font-family: "logo";
	color: white;
	font-size:6em;
	text-align: center;
}

.logo {
  height: 80px;
    position: fixed;
    margin: 0;
    padding: 0;
    top: 4.3em;
    /*left: 10em;*/
}

/*.visibledevice {display:none;}
.visibledesktop {display:display;}

@media (max-width : 320px) {
.visibledevice {display:block;}
.visibledesktop {display:none;}*/


@media screen and (max-width: 768px) {
	header h3 {
		font-size: 3em;
	}
}

/*@media (min-width: 730px) {
  .col-lg-6 {
    width: 33.33333333%;
}
*/
/*==========Tooltip*/
.top-games .game
{
  width:75%;
  float: left;
  border: 1px solid #cacaca;
  border-radius: 4px; 
  margin-bottom: 2px;
}

.game img
{
  float: left;
}

.game-stats
{
  float: left;
}

/*==========Tooltip*/

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/*==========Discord Button*/

.btn-discord {
  color: #fff;
  background-color: #5671AC;
  border-color: #4769B3;
}

.btn-discord:hover {
  color: #fff;
  background-color: #6F90D8;
  border-color: #5D88E6;
}

.btn-discord:active {
  color: #fff;
  background-color: #4A6090;
  border-color: #364F86;
}

.btn-discord:focus {
  color: #fff;
  background-color: #4A6090;
  border-color: #364F86;
}


/*==========JUMBO TRON

/* Space out content a bit */
/*body {
  padding-top: 20px;
  padding-bottom: 20px;
}*/

/* Everything but the jumbotron gets side spacing for mobile first views */
header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
header {
  background-color: black;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 5px 30px;
  font-size: 18px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}