body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

@font-face {
    font-family: logo;
    src: url(Capture_it.ttf);
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("../img/rust/img_parallax.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("../img/rust/img_parallax2.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("../img/rust/img_parallax3.jpg");
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption a:hover, a:focus {
  text-decoration: none;
}

.caption span.border {
  font-family: "logo";
  color: white;
  font-size: 4em;
  text-align: center;
  background-color: #cc3f2b;
  padding: 18px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

h4 {
  letter-spacing: 6px;
  text-transform: uppercase;
  font: 13px "Lato", sans-serif;
  color: #111;
}

.scroll-indicator{
  font-size: 50px;
  color: #cc3f2b;
  position: relative;
  text-align: center;
  width: 100%;
  margin: auto;
}



/*==========Buttons*/

.btn-discord {
  color: #5671AC;
  /*background-color: #5671AC;*/
  border-color: #5671AC;
}

.btn-discord:hover {
  color: #fff;
  background-color: #6F90D8;
  border-color: #5D88E6;
}

.btn-discord:active {
  color: #fff;
  background-color: #5671AC;
  border-color: #364F86;
}

.btn-discord:focus {
  color: #fff;
  background-color: #4A6090;
  border-color: #364F86;
}

.btn-map {
  color: #2ca757;
  /*background-color: #5671AC;*/
  border-color: #2ca757;
}

.btn-map:hover {
  color: #fff;
  background-color: #27b359;
  border-color: #1b6736;
}

.btn-map:active {
  color: #fff;
  background-color: #2ca757;
  border-color: #1b6736;
}

.btn-map:focus {
  color: #fff;
  background-color: #238646;
  border-color: #1b6736;
}


.btn-vote {
  color: #e05d2b;
  /*background-color: #5671AC;*/
  border-color: #e05d2b;
}

.btn-vote:hover {
  color: #fff;
  background-color: #f96c37;
  border-color: #b95129;
}

.btn-vote:active {
  color: #fff;
  background-color: #c55428;
  border-color: #1b6736;
}

.btn-vote:focus {
  color: #fff;
  background-color: #e05d2b;
  border-color: #1b6736;
}


.btn-donate {
  color: #2bd7e0;
  /*background-color: #5671AC;*/
  border-color: #2bd7e0;
}

.btn-donate:hover {
  color: #fff;
  background-color: #2bd7e0;
  border-color: #25aab1;
}

.btn-donate:active {
  color: #fff;
  background-color: #23afb7;
  border-color: #2bd7e0;
}

.btn-donate:focus {
  color: #fff;
  background-color: #23afb7;
  border-color: #1b6736;
}

.connect-block {
	display: inline-block;
	margin: 0;
	line-height: 1px;
	padding: 2px 0 15px;
	font-family: monospace;
}

.connect-block b{
	background-color: gainsboro;
	padding: 5px;
	border-radius: 7px;
}

/*End Buttons============*/

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/*Info Buttons*/
.modalOpener,.pluginLink {
  width: 48%;
}

#plugins .list-group {
  line-height: .8em;
}

#stats .list-group-item { border: 0; }

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 25px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0,0.85);
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  border:0;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 85px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: inline-block ;
}

.slideTitle {
  font-family: monospace;
  padding: 2px 0 0 15px;
  font-size: 18px;
  letter-spacing: 3px;
  border-bottom: 4px solid black;
}

.codeBlock pre {
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 0;
}

/*============Stats*/
.stats-box {
  background-color: white;
  border:1px solid black;
  border-radius: 3px;
  width: 32%;
  margin: auto;
}

.stats-box p{
  color:black;
  border-top: 1px solid black;
  font-size: 20px
  margin: 0 0 0 0;
  padding: 0;
}

.stats-img {
  width: 50px;
  height: 50px;
  margin:auto;
}

.AnimalKills {
  background: url(http://vignette1.wikia.nocookie.net/play-rust/images/f/fa/Wolf_Skull_icon.png/revision/latest?cb=20150405124414);
  background-size: cover;
}

.ArrowKills {
  background: url(http://vignette3.wikia.nocookie.net/play-rust/images/3/3d/Wooden_Arrow_icon.png/revision/latest/scale-to-width-down/100?cb=20151106061615);
  background-size: cover;
}

.ClothesCrafted {
  background: url(http://vignette2.wikia.nocookie.net/play-rust/images/6/62/T-Shirt_icon.png/revision/latest/scale-to-width-down/50?cb=20160211200547);
  background-size: cover;
}

.Headshots {
  background: url(http://vignette4.wikia.nocookie.net/play-rust/images/9/9c/4x_Zoom_Scope_icon.png/revision/latest/scale-to-width-down/50?cb=20160211201610);
  background-size: cover;
}

.PlantsGathered {
  background: url(http://vignette2.wikia.nocookie.net/play-rust/images/c/c9/Hemp_Clone_icon.png/revision/latest/scale-to-width-down/50?cb=20170122060314);
  background-size: cover;
}

.PlayersHealed {
  background: url(http://vignette3.wikia.nocookie.net/play-rust/images/9/99/Medical_Syringe_icon.png/revision/latest/scale-to-width-down/50?cb=20151106061059);
  background-size: cover;
}

.PlayersKilled {
  background: url(http://vignette3.wikia.nocookie.net/play-rust/images/2/24/Human_Skull_icon.png/revision/latest/scale-to-width-down/50?cb=20151106061019);
  background-size: cover;
}

.MeleeKills {
  background: url(http://vignette2.wikia.nocookie.net/play-rust/images/f/ff/Rock_icon.png/revision/latest/scale-to-width-down/50?cb=20151106061532&format=webp);
  background-size: cover;
}

.BladeKills {
  background: url(http://vignette3.wikia.nocookie.net/play-rust/images/3/34/Machete_icon.png/revision/latest/scale-to-width-down/50?cb=20151106060741&format=webp);
  background-size: cover;
}


.RevolverKills {
  background: url(http://vignette1.wikia.nocookie.net/play-rust/images/5/58/Revolver_icon.png/revision/latest/scale-to-width-down/50?cb=20160226092929&format=webp);
  background-size: cover;
}

.RocketsFired {
  background: url(http://vignette1.wikia.nocookie.net/play-rust/images/9/95/Rocket_icon.png/revision/latest/scale-to-width-down/50?cb=20151106061039);
  background-size: cover;
}

.RocksGathered {
  background: url(http://vignette4.wikia.nocookie.net/play-rust/images/8/85/Stones_icon.png/revision/latest/scale-to-width-down/50?cb=20150405123145);
  background-size: cover;
}

.StructuresBuilt {
  background: url(http://vignette2.wikia.nocookie.net/play-rust/images/b/ba/Building_Plan_icon.png/revision/latest/scale-to-width-down/50?cb=20151106061847&format=webp);
  background-size: cover;
}

.StructuresRepaired {
  background: url(http://vignette4.wikia.nocookie.net/play-rust/images/5/57/Hammer_icon.png/revision/latest/scale-to-width-down/50?cb=20151106061319);
  background-size: cover;
}

.ExplosivesThrown {
  background: url(http://vignette3.wikia.nocookie.net/play-rust/images/5/52/F1_Grenade_icon.png/revision/latest/scale-to-width-down/50?cb=20151106054509&format=webp);
  background-size: cover;
}

.WeaponsCrafted {
  background: url(http://vignette1.wikia.nocookie.net/play-rust/images/3/3b/Repair_Bench_icon.png/revision/latest/scale-to-width-down/50?cb=20151119214020&format=webp);
  background-size: cover;
}

.WoodGathered {
  background: url(http://vignette4.wikia.nocookie.net/play-rust/images/f/f2/Wood_icon.png/revision/latest/scale-to-width-down/50?cb=20151106061551);
  background-size: cover;
}

.PVEKillDistance {
  background: url(http://vignette2.wikia.nocookie.net/play-rust/images/0/00/Wolf_Headdress_icon.png/revision/latest/scale-to-width-down/50?cb=20160211200352);
  background-size: cover;
}

.PVPKillDistance {
  background: url(http://vignette1.wikia.nocookie.net/play-rust/images/6/60/Reactive_Target_icon.png/revision/latest/scale-to-width-down/50?cb=20160331070018&format=webp);
  background-size: cover;
}

.TopAnimalKills::before {content: "Hunter ";color:  #358c33; }
.TopArrowKills::before {content: "Archer ";color:  #358c33; }
.TopClothesCrafted::before {content: "Tailor ";color:  #358c33; }
.TopHeadshots::before {content: "Assassin ";color:  #358c33; }
.TopPlantsGathered::before {content: "Harvester ";color:  #358c33; }
.TopPlayersHealed::before {content: "Medic ";color:  #358c33; }
.TopPlayersKilled::before {content: "Murderer ";color:  #358c33; }
.TopMeleeKills::before {content: "Fighter ";color:  #358c33; }
.TopBladeKills::before {content: "Samurai ";color:  #358c33; }
.TopRevolverKills::before {content: "Gunslinger ";color:  #358c33; }
.TopRocketsFired::before {content: "Rocketeer ";color:  #358c33; }
.TopRocksGathered::before {content: "Miner ";color:  #358c33; }
.TopStructuresBuilt::before {content: "Architect ";color:  #358c33; }
.TopStructuresRepaired::before {content: "Handyman ";color:  #358c33; }
.TopExplosivesThrown::before {content: "Bomb-tech ";color:  #358c33; }
.TopWeaponsCrafted::before {content: "Gunsmith ";color:  #358c33; }
.TopWoodGathered::before {content: "Lumberjack ";color:  #358c33; }
.TopPVEKillDistance::before {content: "Deadshot ";color:  #358c33; }
.TopPVPKillDistance::before {content: "Sniper ";color:  #358c33; }


/*============End Stats*/